.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-color: azure;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}
.wrapper{
    position: absolute;

    width: 12em;
    
    border: 2px solid gold;
    background-color: antiquewhite;
}

.item{
    cursor: pointer;
    display: flex;
    height: 2em;
    
    padding:0.3em 0.5em;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 2em;
    gap:0.6em;
    &:hover{
        background-color: darkolivegreen;
    }
}
.invisible {
    display: none;
}