
.wrapper{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.3em;

    & textarea {
        width: calc(100% - 0.8em - 2px);
        min-height: 5em;
        resize: none;
        border: 1px solid grey;
        padding: 0.4em;
        font-size: 1.1em;
        &:focus{
            outline: none;
            border: 1px solid grey;
        }
    }
    & button {
        font-size: 0.8em;
        padding: 0.1em 0.4em;
        float: right;

    }
}
.input_form{
    margin-bottom: 2em;
}
.comment_list{
    padding-top: 0.5em;
    border-top: 1px solid forestgreen;
}
