
@use "@src/styles/vars.scss" as vars;
.wrapper{
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 1em;
    line-height: 1.25em;
    vertical-align: middle;
    font-size: 0.7em;
    margin: 1em 0.3em;
    padding: 0.2em 0.5em;
    border: 1px solid vars.$mainColor-100;
    border-radius: 12px;
    cursor: pointer;
}
.left{
    display: flex;
    
}
.right{
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.4fr;
}

// .index,
.title{
    padding-left: 0.4em;
}


.views,
.likes{
 
    display: flex;
    gap:0.3em;
}

.author,
.created_date{
        font-size:0.9em;
}

.icon{
    position: relative;
    width: 0.9em;
    height: 0.9em ;
    overflow: hidden;
    border-radius: 15px;
}
.count{
    font-size: 0.7em;
    text-align: right;
}
@media screen and (max-width:vars.$windowWidth-half) {
    .wrapper{
        line-height: 1.2em;
        font-size: 0.8em;
    }.icon{
        width: 0.85em;
        height: 0.85em ;
    }
}