@use "@src/styles/vars.scss" as vars;
.wrapper{
    width: calc(100% - 2 * vars.$mainWrapperPadding);
    height: 100%;
    overflow-y: scroll;
    padding: vars.$mainWrapperPadding;
}
.header_box{
    display: grid;
    grid-template-columns: 10fr 1fr;
}
.meta_box{
    gap:1em;
    margin-bottom: 2em;

    & > div {
        margin-bottom: 1em;
    }
    & > div:first-child div{
        margin-bottom: 0.3em;
    }
    & > div:nth-child(2) {
        display: flex;
        gap:1.5em;
    }

    & .title{
        font-size: 1.7em;
    }
    & .board{
        font-size: 1.8em;
    }

}
.content_box{
    display: block;
    font-size: 1.4em; 
 
    & .item {
        margin-bottom: 0.2em;
    }
}

.control_btn_box{
    

    
    
}