.wrapper {
    // border: 1px solid yellow;
    position: relative;
    // height: 1em;
    
    padding:0 0.2em;
    margin-left: 3em;
    display: flex;
    
}


.content{
    width: 100%;
    height: 1em;
    padding: 0.1em 0.2em;
    font-size: 1.6em;
    border: 2px solid rgb(50,50,50);
    background-color: darkolivegreen;
    white-space: pre-wrap;
    word-break: break-word;
}
.content:empty:before{
    content:attr(placeholder);
    opacity: 0.5;
}
.content_hover {

  border: 2px solid rgb(170,170,170,0.5);
}
.content:focus {
    outline: none;
}
.invisible {
    display: none;
}
