@use "@src/styles/vars.scss" as vars;
.wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 1em;
  vertical-align: middle;
  font-size: 23px;
  margin: 1em 0.3em;
  padding: 0.2em 0.5em;
  border: 1px solid vars.$mainColor-100;
  border-radius: 12px;
  cursor: pointer;
}
.left {
  display: flex;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.4fr;
}

.title {
  padding-left: 0.4em;
}

.views,
.likes {
  line-height: 1.2em;
  display: flex;
  gap: 0.3em;
}

.author,
.created_date {
  display: block;
}

.icon {
  position: relative;
  width: 0.9em;
  height: 0.9em;
  overflow: hidden;
  border-radius: 15px;
}
.count {
  font-size: 14px;
  text-align: right;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: vars.$windowWidth-tablet) and (max-width: calc(vars.$windowWidth-pc - 1px)) {
  .wrapper {
    line-height: 1.2em;
    font-size: 21px;
  }
  .icon {
    width: 0.85em;
    height: 0.85em;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: vars.$windowWidth-mobile) and (max-width: calc(vars.$windowWidth-tablet - 1px)) {
  .wrapper {
    line-height: 1.2em;
    font-size: 13px;
  }
  .wrapper {
    grid-template-columns: 3fr 2fr;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: calc(vars.$windowWidth-mobile - 1px)) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  .right {
    display: flex;
    gap: 0.5em;
  }

  .views,
  .likes {
    display: none;
  }
}
