@use "@src/styles/vars.scss" as vars;
.wrapper {
  width: calc(100% - 2 * vars.$mainWrapperPadding);
  height: 100%;
  overflow-y: scroll;
  padding: vars.$mainWrapperPadding;
}
.header_box {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.meta_box {
  gap: 1em;
  margin-bottom: 2em;

  & > div {
    margin-bottom: 1em;
  }
  & > div:first-child div {
    margin-bottom: 0.3em;
  }
  & > div:nth-child(2) {
    display: flex;
    gap: 1.5em;
  }

  & .title {
    font-size: 1.7em;
  }
  & .board {
    font-size: 1.8em;
  }
}
.content_box {
  display: block;
  font-size: 1.4em;

  & .item {
    margin-bottom: 0.2em;
  }
}

.author,
.created,
.views,
.likes {
  display: flex;
  gap: 0.5em;
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: vars.$windowWidth-tablet) and (max-width: calc(vars.$windowWidth-pc - 1px)) {
  /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: vars.$windowWidth-mobile) and (max-width: calc(vars.$windowWidth-tablet - 1px)) {
  .meta_box {
    & > div:nth-child(2) {
      font-size: 0.9em;
    }
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: calc(vars.$windowWidth-mobile - 1px)) {
  .header_box {
    grid-template-columns: 4fr 1fr;
  }
  .meta_box {
    & > div:nth-child(2) {
      font-size: 0.9em;
    }
  }
  .author,
  .updated {
    & > div:first-child {
      display: none;
    }
  }
  .views,
  .likes {
    display: none;
  }
  .control_btn_box {
    display: block;
  }
}
