.wrapper {
    position: relative;
    padding:0 0.2em;
    padding-left: 3em;
    display: flex;
}
.border_bottom{
    border-bottom: 2px solid rgb(170,170,170,0.5);
}
.border_top{
    border-top: 2px solid rgb(170,170,170,0.5);
}