.wrapper {
    position: relative;
    padding:0 0.2em;
    padding-left: 3em;
    display: flex;
}

.content{
    width: 100%;
    height: 1em;
    padding: 0.1em 0.2em;
    font-size: 1.6em;
    border: 2px solid rgb(50,50,50);
    white-space: pre-wrap;
    word-break: break-word;
    &:empty::before{
        content:attr(placeholder);
        opacity: 0.5;
    }
    &:focus {
        outline: none;
    }
}

.content_hover {
  border: 2px solid rgb(170,170,170,0.5);
}
.border_bottom{
    border-bottom: 2px solid rgb(170,170,170,0.5);
}
.border_top{
    border-top: 2px solid rgb(170,170,170,0.5);
}

.invisible {
    display: none;
}
