.wrapper{
    width: 15rem;
    background-color: green;
    padding-top: 3em;
    padding-bottom: 5em;
    max-height: 100%;
    min-height: 100%;
}
.box{
    display: block;
}
.item{
    padding: 0.6em 1.2em;
    font-size: 1.4em;
    cursor: pointer;
    
}
