@use "@src/styles/vars.scss" as vars;
.wrapper {
  width: vars.$appDrawerWidth;
  background-color: vars.$mainColor-70;
  padding-top: 3em;
  padding-bottom: 5em;
  max-height: 100%;
  min-height: 100%;
}
.box {
  display: block;
}
.modal {
  display: none;
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: vars.$windowWidth-tablet) and (max-width: calc(vars.$windowWidth-pc - 1px)) {
  .wrapper {
    display: none;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: vars.$windowWidth-mobile) and (max-width: calc(vars.$windowWidth-tablet - 1px)) {
  .wrapper {
    display: grid;
    grid-template-columns: vars.$appDrawerWidth * 0.5 auto;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: absolute;
    z-index: vars.$appDrawer-z-index;
    &[data-opened="true"] {
      display: grid;
    }
    &[data-opened="false"] {
      display: none;
    }
  }
  .box {
    width: vars.$appDrawerWidth * 0.5;
    background-color: vars.$mainColor-70;
    padding-top: 3em;
    padding-bottom: 5em;
  }
  .box > div {
    display: block !important;
  }
  .modal {
    display: block;
    width: 100%;
    background-color: vars.$mainColor-70-half;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: calc(vars.$windowWidth-mobile - 1px)) {
  .wrapper {
    display: grid;
    grid-template-columns: vars.$appDrawerWidth * 0.5 auto;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: absolute;
    z-index: vars.$appDrawer-z-index;
    &[data-opened="true"] {
      display: grid;
    }
    &[data-opened="false"] {
      display: none;
    }
  }
  .box {
    width: vars.$appDrawerWidth * 0.5;
    background-color: vars.$mainColor-70;
    padding-top: 3em;
    padding-bottom: 5em;
  }
  .box > div {
    display: block !important;
  }
  .modal {
    display: block;
    width: 100%;
    background-color: vars.$mainColor-70-half;
  }
}
