@use "@src/styles/vars.scss" as vars;
.wrapper {
  position: relative;
  width: calc(100% - vars.$headerPaddingWidth * 2);
  height: vars.$headerHeight;
  font-size: vars.$headerHeight;
  background-color: vars.$mainColor-70;
  padding: vars.$headerPaddingHeight vars.$headerPaddingWidth;
  overflow: hidden;
  z-index: vars.$header-z-index;
}

.item {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  gap: 0.8rem;
}
.box:nth-child(2) {
  display: none;
}
.logo {
  position: relative;
  width: vars.$headerHeight * 1.1;
  height: vars.$headerHeight * 1.1;
  overflow: hidden;
  border-radius: 15px;
}
.toggle_btn {
  display: none;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: vars.$windowWidth-tablet) and (max-width: calc(vars.$windowWidth-pc - 1px)) {
  .box div {
    line-height: vars.$headerHeight * 1.25;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  .box:nth-child(2) {
    display: block;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: vars.$windowWidth-mobile) and (max-width: calc(vars.$windowWidth-tablet - 1px)) {
  .logo {
    width: vars.$headerHeight;
    height: vars.$headerHeight;
  }
  .box div {
    line-height: vars.$headerHeight * 1.12;
    vertical-align: middle;
    font-size: 0.8rem;
  }
  .box:nth-child(2) {
    display: block;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: calc(vars.$windowWidth-mobile - 1px)) {
  .wrapper {
    overflow: visible;
  }
  .box {
    & > div:first-child {
      flex-basis: 30% !important;
    }
    & div {
      line-height: vars.$headerHeight;
      vertical-align: middle;
      font-size: 1rem;
    }
  }
  .box:nth-child(2) {
    display: block;
  }
  .toggle_btn {
    display: block;
  }
}
