@use "@src/styles/vars.scss" as vars;
.wrapper{
    position: relative;
    width: calc(100% - 2rem);
    height: vars.$headerHeight;
    font-size: vars.$headerHeight;
    background-color: vars.$mainColor-70;
    padding:  vars.$headerPaddingHeight 1rem;
    overflow: hidden;    
}

.item{
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    gap: 0.8rem;
}
.box:nth-child(2) {
    display: none;
}
.logo{
    position: relative;
    width: vars.$headerHeight * 1.1;
    height: vars.$headerHeight * 1.1;
    overflow: hidden;
    border-radius: 15px;
}

@media screen and (max-width:vars.$windowWidth-half) {
    .box div{
        line-height:  vars.$headerHeight * 1.25;
        vertical-align: middle;
        font-size: 1.2rem;
    }
    .box:nth-child(2) {
        display: block;
    }
}