.wrapper{width: 100%; display: flex;}
.container{
    width: auto;
    margin: 0 auto;
    margin-top: 0.3em;
    display: flex;
    gap: 0.4em;
}
.container div {
    cursor: pointer;
}
.item{    
    height: 1.1em;
    line-height: 1.3em;
    vertical-align: middle;
    border: 1px solid lightcyan;
    border-radius: 12px;
    text-align: center;
    font-size: 0.8em;
}
.indicator{
    width: 1.5em;
}
.number_panel_box{
    display: flex;
    gap: 0.4em;
}
.number_panel{
    width: 1.3em;
}