$headerHeight: 1.5rem;
$headerPaddingHeight: 0.75rem;
$headerTotalHeight: calc($headerHeight + $headerPaddingHeight * 2);

$mainWrapperPadding: 1rem;

$footerHeight:3rem;

$mainColor: rgb(50,50,50);
$mainColor-30: rgb(30,30,30);
$mainColor-70: rgb(70,70,70);
$mainColor-100: rgb(100,100,100);

$windowWidth-half: 930px;
$windowWidth-quarter: 740px;

@mixin control-button-box{
    margin-bottom: 1em;
}
@mixin control-button {
    cursor: pointer;
    width: 100%;
    padding: 0.4em 0.3em;
    background-color: $mainColor;
    border: none;
    font-size: 1.4em;

}